.homepage {
}

.warning-msg-container {
  background: #eabe6c;
}

.warning-msg {
  padding: 1em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.emphasized {
  text-transform: uppercase;
  font-weight: 500;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: 1em 0;
}

.search-input {
  font-size: 1em;
  border-radius: 25px;
  padding: 10px;
  background: #6d2932;
  color: white;
}

.input-icon {
  width: 2em;
  height: 2em;
  color: #561c24;
}

.links {
  display: flex;
  flex-direction: column;
}

.link-container {
  margin-block: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
}

.link-img {
  border-radius: 35%;
  width: 8em;
}

.link-name {
  text-decoration: none;
  color: #891652;
}

.link-code {
  margin-block: 0;
  font-weight: 300;
  color: #240a34;
}
