.homepage {
}

.warning-msg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer-btn {
  font-size: 1em;
  border-radius: 10px;
  padding: 10px;
  background: #6d2932;
  color: white;
  width: 50%;
  margin-bottom: 1em;
  border: 1px white solid;
}

.warning-msg {
  padding: 1em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  border: 1px dashed #6d2932;
  margin: 0 1em;
}

.emphasized {
  text-transform: uppercase;
  font-weight: 500;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: 1em 0;
}

.search-input {
  font-size: 1em;
  border-radius: 25px;
  padding: 10px;
  background: #6d2932;
  color: white;
}

.input-icon {
  width: 2em;
  height: 2em;
  color: #561c24;
}

.search-results-title {
  text-align: center;
  font-weight: 300;
  font-family: "Whisper";
  font-size: 2em;
  margin-block: 0;
  margin: 0.5em;
  font-family: "Whisper";
}

.search-value {
  font-family: "Merriweather Sans";
  font-size: 0.6em;
}

.links {
  display: flex;
  flex-direction: column;
}

.link-container {
  margin-block: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  border: 1px solid white;
  margin: 1em;
  background: #f5a61138;
  border-radius: 10px;
  font-size: 1.1em;
}

.link-img {
  border-radius: 10%;
  margin-bottom: auto;
  width: 35%;
}

.link-name {
  text-decoration: none;
  color: #891652;
}

.link-code {
  margin-block: 0;
  font-weight: 300;
  color: #240a34;
}

.link-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin-bottom: auto;
  line-height: 1.2;
}
